* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*::selection {
  background: #0ef;
  color: #1f242d;
}
s
body {
  background: #081b29;
  color: #ededed;
}